
body {
  font-family: Open Sans;
  color: DarkBlue;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: Ivory;
}
h1, h2, h3 {
  font-family: Oswald;
}
img {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
